html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
  color: #bdbdbd;
  background: #111111;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: #fafafa;
  text-decoration: none;
}

a:hover {
  color: #bdbdbd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fafafa;
}

h1 {
  font-size: 48px;
  line-height: 72px;
}

h2 {
  color: #fafafa;
  font-size: 36px;
  line-height: 72px;
}

main {
  flex: 1;
}

section {
  margin-bottom: 3rem;
}

p {
  margin-bottom: 48px;
}

svg {
  fill: #fafafa;
}

#__next {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#header .row {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

#footer {
  background: #000;
  margin-top: 48px;
}

#footer .row {
  font-size: 14px;
  padding: 48px;
}

.header__title {
  display: flex;
  align-items: center;
  flex: 1;
}

.header__logo {
  width: 36px;
  margin-right: 16px;
  opacity: 0.5;
}

.header__name {
  text-transform: uppercase;
  letter-spacing: 8px;
}

.header__name a {
  color: #bdbdbd;
}

.header__links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.header__links a {
  color: #bdbdbd;
  margin-left: 24px;
}

.header__links a:hover {
  color: #fafafa;
}

.screenshot {
  position: relative;
  cursor: pointer;
}

.screenshot img {
  width: 100%;
}

.screenshot svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 150px;
  height: 150px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature {
  margin: 80px 40px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.thumbnail {
  cursor: pointer;
  margin: 0 8px;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}

.thumbnail img {
  width: 120px;
  height: 120px;
}

.video-overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #000;
  opacity: 0.9;
}

.video-close {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 32px;
  color: #bdbdbd;
  cursor: pointer;
}

.video-close:hover {
  color: #fafafa;
}

.video {
  margin: auto;
  flex: 1;
}

.video__wrapper {
  position: relative;
  height: 0;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.blog-header {
  font-size: 14px;
}

.blog-content {
  margin-top: 48px;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-links svg {
  fill: #8e8e8e;
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

.social-links svg:hover {
  fill: #fafafa;
}

.center {
  text-align: center;
}

.icon {
  position: relative;
  width: 64px;
  height: 64px;
}

.icon svg {
  max-width: 100%;
  max-height: 100%;
}

.button {
  display: inline-block;
  font-size: 24px;
  padding: 8px 16px;
  color: #fafafa;
  background: #704dd8;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  color: #fafafa;
  background: #7c5dd7;
  text-decoration: none;
}
